In [1]:
# import numpy
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as scipy
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
%matplotlib inline

In [2]:
wine_data = pd.read_csv('winemag-data_first150k.csv', sep = ',', encoding = 'utf-8', header = 0 )
wine_data2 = pd.read_csv('winemag-data-130k-v2.csv')
df = wine_data.append(wine_data2, ignore_index = True)
df.head()

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,NaN,NaN,NaN,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,NaN,NaN,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,NaN,NaN,NaN,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,NaN,NaN,NaN,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,NaN,NaN,NaN,Provence red blend,Domaine de la Bégude

In [3]:
df['country'].value_counts()
print(df['country'].isnull().value_counts())
df['country'].fillna(value = "unknown", inplace = True)
print()
print(df['country'].isnull().value_counts())

False    280833
True         68
Name: country, dtype: int64

False    280901
Name: country, dtype: int64

In [4]:
print(df['taster_name'].value_counts())
print()
print(df['taster_name'].isnull().value_counts())
df['taster_name'].fillna(value = "anonymous", inplace = True)
print(df['taster_name'].isnull().value_counts())
df['taster_name'].value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

True     177174
False    103727
Name: taster_name, dtype: int64
False    280901
Name: taster_name, dtype: int64

anonymous             177174
Roger Voss             25514
Michael Schachner      15134
Kerin O’Keefe          10776
Virginie Boone          9537
Paul Gregutt            9532
Matt Kettmann           6332
Joe Czerwinski          5147
Sean P. Sullivan        4966
Anna Lee C. Iijima      4415
Jim Gordon              4177
Anne Krebiehl MW        3685
Lauren Buzzeo           1835
Susan Kostrzewa         1085
Mike DeSimone            514
Jeff Jenssen             491
Alexander Peartree       415
Carrie Dykes             139
Fiona Adams               27
Christina Pickard          6
Name: taster_name, dtype: int64

In [5]:
print(df['taster_twitter_handle'].value_counts())
print()
print(df['taster_twitter_handle'].isnull().value_counts())
df['taster_twitter_handle'].fillna(value = "anonymous", inplace = True)
print(df['taster_twitter_handle'].value_counts())

@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: taster_twitter_handle, dtype: int64

True     182143
False     98758
Name: taster_twitter_handle, dtype: int64
anonymous           182143
@vossroger           25514
@wineschach          15134
@kerinokeefe         10776
@vboone               9537
@paulgwine            9532
@mattkettmann         6332
@JoeCz                5147
@wawinereport         4966
@gordone_cellars      4177
@AnneInVino           3685
@laurbuzz             1835
@suskostrzewa         1085
@worldwineguys        1005
@bkfiona                27
@winewchristina          6
Name: taster_twitter_handle, dtype: int64

In [6]:
df['title'].isnull().value_counts()

True     150930
False    129971
Name: title, dtype: int64

In [7]:
df['variety'].isnull().value_counts()
df['variety'].fillna(value = "unknown", inplace = True)
df['variety'].isnull().value_counts()

False    280901
Name: variety, dtype: int64

In [8]:
df['region_1'].isnull().value_counts()
df['region_1'].fillna(value = "unknown", inplace = True)
df['region_1'].isnull().value_counts()

False    280901
Name: region_1, dtype: int64

In [9]:
df['region_2'].isnull().value_counts()
df['region_2'].fillna(value = "unknown", inplace = True)
df['region_2'].isnull().value_counts()

False    280901
Name: region_2, dtype: int64

In [10]:
df['points'].isnull().value_counts()

False    280901
Name: points, dtype: int64

In [11]:
df['price'].isnull().value_counts()
prices = df['price']
mean = round(np.mean(prices))
print(mean)
df['price'].fillna(value = mean, inplace = True)
df['price'].value_counts()

34

34.0      24844
20.0      14800
15.0      13122
25.0      11760
18.0      10871
30.0      10400
12.0       8884
10.0       8694
13.0       8028
35.0       7995
40.0       7890
16.0       7820
14.0       7094
22.0       7080
50.0       6749
17.0       6566
45.0       6378
28.0       6294
24.0       6269
19.0       6104
11.0       5172
60.0       4456
32.0       4160
55.0       3766
9.0        3689
38.0       3508
23.0       3500
26.0       3472
65.0       3055
75.0       2913
          ...
480.0         1
617.0         1
560.0         1
207.0         1
750.0         1
3300.0        1
301.0         1
672.0         1
322.0         1
599.0         1
306.0         1
544.0         1
790.0         1
294.0         1
973.0         1
209.0         1
932.0         1
470.0         1
2300.0        1
575.0         1
234.0         1
569.0         1
178.0         1
675.0         1
630.0         1
388.0         1
1125.0        1
276.0         1
820.0         1
318.0         1
Name: price, Length: 415, dtype: int64

In [12]:
df['province'].isnull().value_counts()
df['province'].value_counts()
df['province'].fillna(value = "unknown", inplace = True)
df['province'].isnull().value_counts()

False    280901
Name: province, dtype: int64

In [13]:
df['description'].isnull().value_counts()

False    280901
Name: description, dtype: int64

In [14]:
print(df['designation'].isnull().value_counts())
df['designation'].fillna(value = "unknown", inplace = True)
print(df['designation'].isnull().value_counts())

False    197701
True      83200
Name: designation, dtype: int64
False    280901
Name: designation, dtype: int64

In [15]:
print(df['winery'].isnull().value_counts())

False    280901
Name: winery, dtype: int64